.app-home {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #001f7c;
}

button {
  background: #5851ff;
  color: white;
  margin: 8px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  outline: 0;
  letter-spacing: .04em;
  transition: all .15s ease;
  cursor: pointer;
}
  
button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
  transform: translateY(1px);
}


input {
  border-radius: 1000px;
  border: 3px solid #5851ff;
  width: 40px;
  height: 15px;
  padding: 10px;
  margin: 0 10px;
}

.canvas {
  border: 3px solid #5851ff;
  border-radius: 10px;
  margin: 10px;
}

.button-box {
  display: flex;
  flex-direction: row;
}

.labels {
  border: 3px solid #5851ff;
  border-radius: 1000px;
  padding: 0 20px;
  height: 30px;
  line-height:  0px;
  margin: 10px;
  background: white;
}